/* css styling */
	/* stylizing the title */ main {
  background: #BBADFD;
  font-size: 40px;
  padding: 3rem;
  width: 500px; /* adjusts the width of items */ 
  text-align: center;
  margin: 1em auto;
}
/* stylizing navigation bar on top */ nav {
  background: #D1B0B0; /* calming warm neutral color */
  padding: 1.5rem;
}
/* stylizing the entire body */ body {
  text-align: center;
  background: #F8EFE8;
  font-size: 30px;
}
		/* stylizing one part of body */ span {
			background: #EDECB8; 
			height: 130px;
			padding: 1rem;
			padding-bottom: 1rem;
			float: right;
			width: 188px;
			margin-top: -32.1em;
			margin-right: 10em;
			
		}
		
		/* stylizing next part of body */ div  {
			background: #EDECB8; 
			width: 400px;
			padding: 1.5rem;
			width: 180px;
			margin-left: 10em;
		}
	/* stylizing another part of body */ article {
		float: right;
		width: 340px;
		margin-left: 15em;
		margin-right: 8em;
		margin-top: -26.1em;
		background: #B8EDCD;
	}
		/* stylizing final part of body */ section {
		float: left;
		width: 280px;
		margin-left: 9em;
		margin-right: 15em;
		margin-top: 1em;
		background: #B8EDCD;
	}

